<div class="flex justify-between border-b-4 border-gray-600 py-5 px-20">
    <ul class="flex flex-row gap-10 text-2xl">
        <a href="/index.html" class="border-b-4 border-black hover:border-yellow-600 duration-500">Home</a>
        <a href="/experience.html" class="border-b-4 border-black hover:border-yellow-600 duration-500">Experience</a>
        <a href="/photography.html" class="border-b-4 border-black hover:border-yellow-600 duration-500">Photography</a>
        <a href="/videoEditing.html" class="border-b-4 border-black hover:border-yellow-600 duration-500">Video Editing</a>
    </ul>
    <div class="flex flex-row justify-end items-center gap-5">
        <a href="https://www.facebook.com" target="_blank">
          <i class="fab fa-facebook text-3xl"></i>
        </a>
        <a href="https://www.instagram.com" target="_blank">
          <i class="fab fa-instagram text-3xl"></i>
        </a>
    </div>
</div>