body {
    background: linear-gradient(90deg, white 60%, rgb(118, 118, 253) 40%);
    height: 100vh;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;

    padding: 0px;
    margin: 0px;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
    box-shadow: 0px 0px 20px grey;
    

    width: 50%;
    height: 10%;
    
    position: absolute;
    top: 10%;
    left: 25%;
}

nav {
    width: 100%;
}

ul {
    display: flex;
    justify-content: space-evenly;

    padding: 0px;
    margin: 0px;

    list-style: none;
}

li {
    padding: 2.5% 2%;
    box-sizing: border-box;
    border-radius: 20px;

    font-size: 1.2vw;
    font-weight: 600;

    background-color: rgb(255, 255, 255);
    cursor: pointer;
    transition-duration: 0.5s;
}

li[class="activePage"] {
    background-color: rgb(118, 118, 253);
    color: white;
}

li:hover {
    background-color: rgb(118, 118, 253);
    color: white;
}

.socialIcons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    font-size: 3.2vw;
    /* background-color: grey; */
    width: 10%;
    height: 10%;

    position: absolute;
    top: 10%;
    right: 75%;
}

i {
   transition-duration: 0.4s;
   text-shadow: 0px 0px 3px grey;
}

i:hover {
    transform: scale(1.1);
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 10%;
    
    

    position: absolute;
    top: 10%;
    left: 78%;
}

img {
    width: auto;
    height: 80%;
    border-radius: 50px;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    

    /* background-color: grey; */
    width: 30vw;
    height: 7vh;
    font-size: 1.5vw;

    position: absolute;
    top: 38%;
    left: 20%;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;

    /* background-color: grey; */

    width: 40vw;
    height: 20vh;
    font-size: 1.1vw;

    position: absolute;
    top: 45%;
    left: 15%;
}

.graphic {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: black; */

    height: 50%;
    width: auto;

    position: absolute;
    top: 30%;
    right: 10%;
}

a {
    color: black;
    text-decoration: none;
}
 
a:visited {
    /* This prevents any visited links to change colour after they've been visited */
    color: black
}

li:hover a {
    /* This allows <li> tags with <a> tags inside them to be adjusted properly */
    color: white;
    text-decoration: none;
}

button {
    border: 1px solid grey;
    background-color: white;
    transition-duration: 0.5s;
    padding: 3%;
    border-radius: 20px;
    font-weight: bold;
    font-size: 1vw;
    cursor: pointer;
    box-shadow: 0px 0px 5px grey;
}

button:hover {
    background-color: rgb(118, 118, 253);
    color: white;
}

p[class="disclaimers"] {
    font-size: 0.8vw;
    color: grey;
}